/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  list-style: none;
  width: calc((100% - 24px * 2) / 3);
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.feedback-form{
  display: flex;
  flex-direction:column;
  gap: 20px;
  padding-top: 15px;
}

.btn-form{
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin: 0 auto;
  background-color: rgb(232, 176, 187);
  border: 2px solid red;
  border-radius: 5px;
}

.feedback-form{
  max-width: 320px;
  margin: 0 auto;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}

.label-form{
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
}

